html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.section {
  height: 200vh;
  padding: 2rem;
  position: relative;
  background: black;
  color: white;
  border: 1px solid red;
}

.container {
  position: sticky;
  height: 60vh;
  top: 20vh;
  max-width: 980px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.section__text {
  position: absolute;
  top: -50%;
  left: -50%;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate3d(0, 0, 0);
  opacity: 0;
}

.hidden {
  display: none;
}
